#Jaipur {
  padding: 2rem 5rem 0px 5rem;
  max-width: auto;
  align-items: center;
  z-index: -1;
  background-color: #ffffff;
}

#Jaipur ul{
  list-style: circle;
}

#Jaipur h2 {
  position: relative;
  font-size: xxx-large;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}

#Jaipur h2:after {
  position: absolute;
  content: "";
  background-color: #e8462b;
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}

#Jaipur p {
  font-size: larger;
  color: black;
  text-align: justify;
}

#Jaipur .wrapper {
  width: 100%;
  display: grid;
  grid-template-areas: "auto auto auto auto";
  gap: 20px;
  padding: 30px 30px;
}

#Jaipur .EventImage {
  width: 100%;
  height: 200px;
  border-radius: 16px;
}

#Jaipur .wrapper > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#Jaipur .item1,
.item2,
.item3,
.item4 {
  position: relative;
  height: 200px;
  transition: transform 0.2s ease-in-out;
  border-radius: 25px;
}
#Jaipur .item1 {
  background: url(../img/1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Jaipur .item2 {
  background: url(../img/2.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Jaipur .item3 {
  background: url(../img/3.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#Jaipur .item4 {
  background: url(../img/4.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (max-width: 725px) {
  #Jaipur {
    max-width: auto;
    align-items: center;
    z-index: 0;
  }
  #Jaipur .wrapper {
    width: 100%;
    display: grid;
    grid-template-areas: "auto";
    gap: 10px;
    padding: 30px 0 30px 0;
  }

  #Jaipur .item1,
  .item2,
  .item3,
  .item4 {
    position: relative;
    height: 150px;
    transition: transform 0.2s ease-in-out;
    border-radius: 15px;
  }
  #Jaipur h2 {
    font-size: xx-large;
    padding-top: 40px
  }
  #Jaipur p {
    color: black;
    text-align: justify;
    line-height: auto;
    text-justify: inter-word;
  }
}
