/* Style the accordion section */
.accordion__section {
  display: flex;
  flex-direction: column;
  width: 80%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  height: 60px;
  color: black;
  border-radius: 10px !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  transition: background-color 0.6s ease;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover,
.active {
  background-color: #ccc;
}

/* Style the accordion content title */
.accordion__title {
  font-family: "Montserrat";
  font-weight: 600;
  margin-top: 25px;
  text-align: left;
  white-space: nowrap;
  font-size: 18px;
  text-transform: uppercase;
}

/* Style the accordion chevron icon */
.accordion__icon {
  margin-left: auto;
  transition: transform 0.6s ease;
}

/* Style to rotate icon when state is active */
.rotate {
  transform: rotate(90deg);
}

/* Style the accordion content panel. Note: hidden by default */
.accordion__content {
  background-color: white;
  overflow: hidden;
  transition: max-height 0.6s ease;
}

/* Style the accordion content text */
.accordion__text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  padding: 18px;
}

@media screen and (max-width: 725px) {
  .accordion__section {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .accordion {
    padding: 10px 60px !important;
  }

  .accordion__icon {
    position: relative;
    left: 15%;
  }
  .accordion__title {
    position: relative;
    left: -15%;
    font-size: 14px;
    text-transform: uppercase;
  }
}
