.Logo {
  height: 100%;
  padding: 2px;
}

.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 95%;
  height: 130px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
  z-index: 1;
  transition: 0.2s ease-in-out;
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
}

.Shrink {
  height: 90px;
  background: white;
  box-shadow: 0 5px 15px rgba(31, 38, 135, 0.37);
  transition: 0.2s ease-in-out;
}

.NavMenu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 30px;
  align-items: center;
  text-align: center;
  justify-content: end;
}

#NavigationBar .NavItem {
  font-size: large;
  padding: 20px 16px;
  text-decoration: none;
  color: #252525;
  font-family: "Montserrat";
  font-weight: bold;
  border-bottom: 8px solid transparent;
  transition-duration: 0.4s;
}

#NavigationBar .NavItem:hover {
  border-width: 100%;
  border-bottom-color: #e8462b;
}

.HamBurgerIcon {
  display: none;
}

.NavItem2 {
  background-color: #e8462b;
  border-radius: 6px;
  color: white;
  padding: 10px 16px;
  font-size: large;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: "Montserrat";
  font-weight: 800;
  margin: 2px 1px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.NavItem2 {
  font-size: large;
  color: white;
  background-color: #e8462b;
}

.NavItem2:hover {
  border: 2px solid #e8462b;
  background-color: white;
}

@media screen and (max-width: 1060px) {
  .Logo {
    height: 90%;
  }
  .Navbar {
    z-index: 99;
    padding: 0 20px;
    height: 110px;
  }

  .Shrink {
    height: 100px;
    background: white;
    box-shadow: 0 5px 15px rgba(31, 38, 135, 0.37);
    transition: 0.2s ease-in-out;
  }

  .NavMenu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #ffffff !important;
    border-radius: 13px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
    position: absolute;
    top: 0%;
    left: -110%;
    align-items: center;
    padding: 130px 0 40px 0px;
    margin: 0;
    z-index: -1;
  }
  
  .NavMenu.active {
    left: 0%;
    transition: all 0.3s ease-in-out;
  }

  .NavMenu.bg {
    opacity: 50%;
    top: -20%;
    width: 100vh;
    height: 100vh;
    background-color: black !important;
    z-index: -2;
    transition: none;
  }

  #NavigationBar .NavItem {
    display: block;
    widows: 100%;
    width: 100%;
    color: black;
    border-left: 5px solid transparent;
    border-bottom: transparent;
    transition: 1s ease-in-out;
    z-index: 99;
  }

  #NavigationBar .NavItem:hover {
    background-color: #ffdbd4;
    border-left-color: #e8462b;
    border-bottom: transparent;
  }
  
  .HamBurgerIcon {
    display: block;
    z-index: 100;
    color: black;
    size: 100px;
  }
}
