#Text {
  margin: 50px 0 50px 0;
}

#Sponsor {
  margin-bottom: 30px;
}
#Sponsor .Money {
  position: relative;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
#Sponsor .Money::after {
  position: absolute;
  content: "";
  background: linear-gradient(to right, #e8462b 0%, #e8462b 100%);
  height: 4px;
  width: 60px;
  bottom: 0;
  margin-left: -30px;
  left: 50%;
}
#Sponsor p {
  font-size: 18px;
}

#Sponsor h2 {
  margin-top: 40px;
  text-align: center;
}

.icons-class {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  align-items: center;
  justify-items: center;
  column-gap: 10px;
  row-gap: 50px;
  margin: 10px 0;
}

.icons-class1 {
  display: inline-grid;
  grid-template-columns: auto;
  align-items: center;
  justify-items: center;
  column-gap:50px;
  margin: 10px 0;
}


#Text img {
  width: 70%;
}

#Text .association {
  width: 100%;
}

@media screen and (max-width: 725px) {
  #Text .association {
    width: 70%;
  }

  .icons-class {
    display: block;
  }

  .icons-class1 {
    display: block;
  }

  #Text img {
    width: 40%;
    margin: 10px 0;
  }
}
