hr {
  width: 50%;
  opacity: 25%;
  background-color: black;
  text-align: center;
  padding: 0.5px;
  margin-left: 25%;
  margin-top: 20px;
}

h2 {
  font-family: "Montserrat";
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: bolder;
  font-size: xx-large;
  color: #333;
}
